section {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    scroll-snap-align: start;
    position: relative;

  }

  .container {
    position: absolute;
    z-index: 9;
  }

  .cardsindex {
    z-index: 999;
    position: relative;
    margin-top: -2vw;
    display: flex;
  }




  

  .section1 {
    position: relative;
  }

html {
    
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
  }

.snapCell-control {
    display: inline-block;
    height: 100vh;
    width: 100%;
}





.scrollable {
    position: relative;
}
  

.video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}


