:root {
    --funkyBlue: rgb(188, 222, 243);
  }
  
  .cardsE {
      padding: 0rem;
      background: transparent;
  
  
    }
    
    
    
    .cards__containerE {
      flex-flow: column;
      align-items: center;
      max-width: 60vw;
      margin: 0 auto;
  
  
    }
    
    .cards__wrapperE {
      position: relative;
      margin: 2vw 0 1vw;
  
    }
    
    .cards__itemsE {
      margin-bottom: 24px;
    }
    
    .cards__itemE {
      display: flex;
      flex: 1;
      margin: 0 1rem;
      border-radius: 10px;
      aspect-ratio: 14/5;
  
      border-color: var(--funkyBlue);
      border-style: solid;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: rgb(46, 107, 114);
  
    }
    
  
    
  
    
    .cards__item__linkE {
      display: flex;
      flex-flow: column;
      width: 100%;
  
      border-radius: 10px;
      overflow: hidden;
      text-decoration: none;
    }
    
    .cards__item__pic-wrapE {
      position: relative;
      width: 100%;
      padding-top: 67%;
      overflow: hidden;
    }
    
    .fade-img {
      animation-name: fade-img;
      animation-duration: 2s;
    }
    
    .cards__item__pic-wrap::afterE {
      content: attr(data-category);
      position: absolute;
      bottom: 0;
      margin-left: 10px;
      padding: 6px 8px;
      max-width: calc((100%) - 60px);
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      background-color: #1f98f4;
      box-sizing: border-box;
    }
    
    .cards__item__imgE {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: cover;
      transition: all 0.2s linear;
    }
    
    
    
    .cards__item__infoE {
      padding: 20px 30px 30px;
    }
    
    .cards__item__textE {
      color: var(--funkyBlue);
      font-size: 1.2vw;
      line-height: 24px;
    }
    
    @media only screen and (min-width: 1200px) {
      .content__blog__container {
        width: 84%;
      }
    }
    
    @media only screen and (min-width: 1024px) {
      .cards__itemsE {
        display: flex;
      }
    }
    
    @media only screen and (max-width: 1024px) {
      .cards__itemE {
        margin: 2vh;
      }
      .cardsnstuffE h1 {
        font-size: 10vw;
      }
    }
  
    .cardsnstuffE {
      height: 100vh;
      width: 100%;
  
      justify-content: center;
      align-items: center;
  
      position: fixed;
  
  
      
  }
  
  .cardsnstuffE h1 {
      font-size: 10vh;
      color: var(--funkyBlue);
      margin-top: 3vh;
  }